USE [master]
GO
/****** Object:  Database [Sample2]    Script Date: 3/25/2020 1:54:44 PM ******/
CREATE DATABASE [Sample2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sample1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sample1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sample1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Sample1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sample2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sample2]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 3/25/2020 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[ID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[EmployeeTypeID] [int] NOT NULL,
	[Salary] [int] NULL,
	[City] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_EmployeeType]    Script Date: 3/25/2020 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Gender]    Script Date: 3/25/2020 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Gender](
	[ID] [int] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Manager]    Script Date: 3/25/2020 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Manager](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[ManagerID] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_Manager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Person]    Script Date: 3/25/2020 1:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Person](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[GenderID] [int] NULL,
	[Age] [int] NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Person_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Employee] ([ID], [PersonID], [EmployeeTypeID], [Salary], [City]) VALUES (1, 1, 1, 50000, N'London')
INSERT [dbo].[tbl_Employee] ([ID], [PersonID], [EmployeeTypeID], [Salary], [City]) VALUES (2, 2, 1, 55000, N'New York')
INSERT [dbo].[tbl_Employee] ([ID], [PersonID], [EmployeeTypeID], [Salary], [City]) VALUES (3, 3, 2, 30000, N'los vegas')
SET IDENTITY_INSERT [dbo].[tbl_EmployeeType] ON 

INSERT [dbo].[tbl_EmployeeType] ([ID], [Type]) VALUES (1, N'Permanent')
INSERT [dbo].[tbl_EmployeeType] ([ID], [Type]) VALUES (2, N'Temporary')
INSERT [dbo].[tbl_EmployeeType] ([ID], [Type]) VALUES (3, N'Contract')
SET IDENTITY_INSERT [dbo].[tbl_EmployeeType] OFF
INSERT [dbo].[tbl_Gender] ([ID], [Gender]) VALUES (1, N'Male')
INSERT [dbo].[tbl_Gender] ([ID], [Gender]) VALUES (2, N'Female')
INSERT [dbo].[tbl_Gender] ([ID], [Gender]) VALUES (3, N'Unknow')
SET IDENTITY_INSERT [dbo].[tbl_Manager] ON 

INSERT [dbo].[tbl_Manager] ([ID], [Name], [ManagerID]) VALUES (1, N'Mike      ', N'2         ')
INSERT [dbo].[tbl_Manager] ([ID], [Name], [ManagerID]) VALUES (2, N'Tod       ', NULL)
INSERT [dbo].[tbl_Manager] ([ID], [Name], [ManagerID]) VALUES (3, N'sam       ', N'1         ')
SET IDENTITY_INSERT [dbo].[tbl_Manager] OFF
INSERT [dbo].[tbl_Person] ([ID], [Name], [Email], [GenderID], [Age], [City]) VALUES (1, N'mary', N'm@m.com', 2, 40, N'London')
INSERT [dbo].[tbl_Person] ([ID], [Name], [Email], [GenderID], [Age], [City]) VALUES (2, N'mark', N'mk@m.com', 1, 40, N'New York')
INSERT [dbo].[tbl_Person] ([ID], [Name], [Email], [GenderID], [Age], [City]) VALUES (3, N'kim', N'kim@k.com', 2, 25, N'Kabul')
/****** Object:  Index [tbl_Employee_UK_PersonID]    Script Date: 3/25/2020 1:54:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [tbl_Employee_UK_PersonID] ON [dbo].[tbl_Employee]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tbl_Person_Email]    Script Date: 3/25/2020 1:54:44 PM ******/
ALTER TABLE [dbo].[tbl_Person] ADD  CONSTRAINT [UQ_tbl_Person_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [bl_Employee_FK_EmployeeType] FOREIGN KEY([EmployeeTypeID])
REFERENCES [dbo].[tbl_EmployeeType] ([ID])
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [bl_Employee_FK_EmployeeType]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [tbl_Employee_FK_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[tbl_Person] ([ID])
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [tbl_Employee_FK_Person]
GO
ALTER TABLE [dbo].[tbl_Person]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Person_tbl_Person1] FOREIGN KEY([ID])
REFERENCES [dbo].[tbl_Person] ([ID])
GO
ALTER TABLE [dbo].[tbl_Person] CHECK CONSTRAINT [FK_tbl_Person_tbl_Person1]
GO
ALTER TABLE [dbo].[tbl_Person]  WITH CHECK ADD  CONSTRAINT [tbl_Person_FK_GenderId] FOREIGN KEY([GenderID])
REFERENCES [dbo].[tbl_Gender] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Person] CHECK CONSTRAINT [tbl_Person_FK_GenderId]
GO
ALTER TABLE [dbo].[tbl_Person]  WITH CHECK ADD  CONSTRAINT [CK_tbl_Person_Age] CHECK  (([Age]>(0) AND [Age]<(150)))
GO
ALTER TABLE [dbo].[tbl_Person] CHECK CONSTRAINT [CK_tbl_Person_Age]
GO
USE [master]
GO
